<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <script defer src="/js/mdb.min.js"></script>
    <script defer src ="/src/js/mdb.pro.js"></script>
    <title><%= title %></title>
