.container {  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
}

.i2 {  display: grid;
  grid-template-columns: 0.2fr 2.7fr 0.1fr 1.1fr;
  grid-template-rows: 0.3fr 0.3fr 0.4fr 3.3fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav nav"
    ". . . ."
    ". Page-Title . Note-Title"
    ". Main-Area . User-Note-Area"
    ". . . Light\/Dark";
}

.nav { grid-area: nav; }

.User-Note-Area { grid-area: User-Note-Area; }

.Main-Area { grid-area: Main-Area; }

.Light\/Dark { grid-area: Light\/Dark; }

.Page-Title { grid-area: Page-Title; }

.Note-Title { grid-area: Note-Title; }
